<section class="resume-section" id="proyectos">
  <div class="container py-3">
    <h2 class="mb-5">Proyectos Personales</h2>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card shadow-lg border-0 h-100 text-center">
          <div class="card-body d-flex flex-column justify-content-center">
            <img src="/foto-chatbot.png" alt="Chatbot illustration"
              class="img-fluid rounded-circle mb-3 mx-auto d-block" width="96" height="96">
            <h2 class="card-title mb-3">🤖 Chatbot</h2>
            <p class="card-text">
              Chatbot interactivo con Flask y OpenRouter, desplegado en Render. Destaca habilidades en backend, APIs
              modernas e inteligencia artificial. <strong>Nota: Puede mostrar una breve pantalla de carga al inicio
                debido al arranque del servidor en Render</strong>
            </p>
            <a href="https://chatbot-l99s.onrender.com/" target="_blank" class="btn btn-primary mt-3">
              Ir al Chatbot
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>