<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Gianfranco Ángel
            <span class="text-primary">Campos Acevedo</span>
        </h1>
        <div class="subheading mb-5">
            Desarrollador de Software
            <a href="mailto:gianfrancocamposfp@email.com">gianfrancocamposfp&#64;gmail.com
            </a>
        </div>
        <p class="lead mb-5">Apasionado por el mundo de la tecnología, soy un recién graduado con una gran
            motivación por aprender y mejorar constantemente. Me interesa el desarrollo de software y busco
            oportunidades para aplicar mis conocimientos, enfrentar nuevos desafíos y seguir creciendo como
            profesional.</p>
        <a href="/Plantilla_CV_Gianfranco_Campos.pdf" class="btn btn-primary mb-4" target="_blank">
            <i class="fas fa-download"></i> Descargar CV
        </a>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/gianfranco-campos-91a7a2317/" target="_blank"
                rel="noopener noreferrer">
                <i class="fab fa-linkedin-in"></i>
            </a>

            <a class="social-icon" href="https://github.com/GianCampos20" target="_blank"><i
                    class="fab fa-github"></i></a>

        </div>
    </div>
</section>