<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experiencia</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Programador Web</h3>
                <div class="subheading mb-3">Fortec formación y tecnología s.l</div>
                <p>Participé en el desarrollo de un nuevo apartado en la página llamado 'Movedor de Unidades', que
                    permite trasladar cada unidad a un nuevo curso. Para su implementación, utilicé Programación
                    Orientada a Objetos (POO) en PHP, aplicando pruebas unitarias con PHPUnit y siguiendo la
                    metodología TDD para garantizar una mayor calidad del código. Además, incorporé un indicador de
                    carga en forma de espiral, que desaparece automáticamente una vez que los datos son recuperados
                    en el frontend.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Marzo 2024 - Junio 2024</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Mozo de Almacén</h3>
                <div class="subheading mb-3">Scan Digital</div>
                <p>Me encargué de empaquetar los productos de manera segura y eficiente para garantizar su
                    integridad durante el transporte. Etiqueté los paquetes con información relevante, como destino
                    y cantidad, y revisé las listas de pedidos para asegurarme de que se recogieran los productos
                    correctos. Además, me familiaricé con los códigos de productos y las ubicaciones de los
                    almacenes para optimizar el proceso de embalaje y envío.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Marzo 2019 - Junio 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">TÉCNICO ADMINISTRATIVO DE GESTIÓN</h3>
                <div class="subheading mb-3">Ara Profi</div>
                <p>Me encargué del registro y control de facturas y recibos, así como de la investigación de
                    empresas para captar nuevos clientes. Además, coordiné con otros departamentos para asegurar un
                    flujo de trabajo eficiente y gestioné la recogida de pedidos de clientes.</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">Marzo 2022 - Junio 2022</span></div>
        </div>
    </div>
</section>