<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Lenguajes y herramientas de programación</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-html5" title="HTML"></i></li>
            <li class="list-inline-item"><i class="fab fa-css3-alt" title="CSS"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square" title="JavaScript"></i></li>
            <li class="list-inline-item"><i class="fab fa-angular" title="Angular"></i></li>
            <li class="list-inline-item"><i class="fab fa-sass" title="Sass"></i></li>
            <li class="list-inline-item"><i class="fab fa-bootstrap" title="Bootstrap"></i></li>
            <li class="list-inline-item"><i class="fab fa-php" title="PHP"></i></li>
            <li class="list-inline-item"><i class="fab fa-laravel" title="Laravel"></i></li>
            <li class="list-inline-item"><i class="fab fa-npm" title="NPM"></i></li>
            <li class="list-inline-item"><i class="fab fa-python" title="Python"></i></li>
            <li class="list-inline-item"><i class="fab fa-docker" title="Docker"></i></li>
            <li class="list-inline-item"><img src="assets/django.png" title="Django" alt="django" style="width: 90px; height: auto;">
            </li>
            <li class="list-inline-item"><img src="assets/flask.png" title="Flask" alt="flask" style="width: 90px; height: auto;">
            </li>
            <li class="list-inline-item"><img src="assets/phpunit.png" title="PhpUnit" alt="phpunit" style="width: 90px; height: auto;">
            </li>
        </ul>
        
        <!-- Workflow -->
        <app-workflow></app-workflow>
    </div>
</section>