<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Intereses</h2>
        <p>
            Disfruto del aire libre y encuentro en el gimnasio una excelente manera de despejar mi mente y
            mantenerme activo, al mismo tiempo que cuido mi alimentación para sentirme bien tanto física como
            mentalmente. Mi interés por la tecnología y los avances en inteligencia artificial me lleva a seguir de
            cerca las últimas innovaciones del sector. Además, dedico tiempo a proyectos personales, lo que me
            permite seguir mejorando mis habilidades y creciendo como profesional.
        </p>
    </div>
</section>