<div class="subheading mb-3">Workflow</div>
<section id="workflow">
    <p>Para garantizar la calidad en cada proyecto, sigo un flujo de trabajo ordenado y estructurado. Esto
        incluye desde el diseño inicial hasta la implementación y pruebas finales.</p>
    <ul class="fa-ul mb-0">
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            <strong>Diseño Responsivo:</strong> Aseguro que todos los sitios web sean accesibles y
            visualmente atractivos en dispositivos móviles, tabletas y escritorios.
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            <strong>Pruebas y depuración entre navegadores:</strong> Realizo pruebas exhaustivas para
            garantizar la compatibilidad del sitio web en todos los navegadores populares (Chrome, Firefox,
            Safari, Edge, etc.).
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            <strong>Implementación de la Metodología TDD:</strong> Utilizo Test-Driven Development (TDD)
            para asegurar que el código sea fiable y robusto desde el principio, mejorando la calidad del
            producto final.
        </li>
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            <strong>Desarrollo Ágil:</strong> Trabajo con principios ágiles, adaptándome a los cambios y
            asegurando la entrega continua y eficiente de valor en cada iteración.
        </li>
    </ul>
</section>